.logon-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container img {
    max-width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

.logon-container section.form {
    width: 100%;
    max-width: 400px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container section.form form p.spin {
    margin-left: 10px;
}

.inline {
    display: inline-flex;
}