#root .affiliate-button{
    background-color: darkgreen;
    color: #fafafa;
    margin-right: 15px;
    padding: 10px 15px;
}

#root .affiliate-button:hover{
    background-color: rgb(19, 122, 19);
}
#root .inset{
    padding-left: 72px;
}

#root .toolbar{
    padding-right: 24px;
}