#root .inset {
    padding-left: 72px;
    border-top: 1px solid #3d3d48;
}

#root .toolbar {
    padding-right: 24px;
}

.menu-user-option {
    margin-left: 5px;
}

#root .mr-sidebar .MuiTypography-body1 {
    font-size: 14px;
}

#root .mr-sidebar .sub-menu .MuiTypography-body1 {
    font-size: 13px;
}