.copy,
.videos {
    background-color: #212125;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.videos .button {
    margin-bottom: 10px;
    background: #3498db;
    color: #fff;
}

.videos .button:hover {
    background-color: #369bdf;
}

#root .affiliate-button {
    background-color: #007eff;
    color: #fafafa;
    margin: auto;
    display: block;
    width: 200px;
}

#root .affiliate-button:hover {
    background-color: #005bb6;
}