.min-height-480 {
    min-height: 480px;
}

.bg-dark {
    background-color: #343A40 !important;
}

.chat {
    margin: auto;
    display: block;
}

.comments {
    min-height: 320px;
    background-color: #2d3238;
    padding: 10px;
    font-weight: 500;
}

.comments span {
    text-align: center;
    margin-bottom: 15px;
}

.disable-controls {
    pointer-events: none;
}

form .text-input {
    width: 100%;
    color: #fafafa;
}

form.send-comment .MuiButtonBase-root {
    padding: 11px 5px;
    margin-top: 18px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 5px;
}

#root .MuiAlert-root {
    background-color: #fff;
    margin-bottom: 15px;
}